mixin pagination(addClass, name)
  div(class=`${addClass}`)
    div(class='blockname')= name 
    div(class='pagination')
      ul(class='pagination__list')
        li(class='pagination__item')
          a(class='pagination__link' href='#1') 1
        li(class='pagination__item')
          a(class='pagination__link' href='#2') 2
        li(class='pagination__item')
          a(class='pagination__link' href='#3') 3
        li(class='pagination__item') ...
        li(class='pagination__item')
          a(class='pagination__link' href='#15') 15
        a(class='pagination__arrow')
      div(class='pagination__text') 1 – 12 из 100+ вариантов аренды
