.pagination {
  width: 241px;
  display: flex;
  flex-direction: column;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    font: $fontbody;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  &__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    &:focus {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      font: $fonth3;
      color: #fff;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    font: $fontbody;
  }
  &__arrow {
    width: 40px;
    height: 40px;
    background: no-repeat 8px 8px url(../../desktop/ui-kit/form-elements/blocks/button/button.svg), linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
  }
}
