.text-field {
  width: 320px;
  &__name {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-bottom: 5px;
    font: $fonth3;
  }
  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    color: $dark75;
    height: 44px;
    width: 320px;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    padding: 15px 13px;
    &:hover, &:focus {
      border: 1px solid $dark50;
      outline: none;
    }
    &::placeholder {
      color: $dark25;
    }
    &_subscription {
      width: 260px;
      background: #fff no-repeat 230px center url(../../desktop/ui-kit/form-elements/blocks/text-field/text-field.svg);
    }
  }
}
.input__name span:first-child {
  font-family: 'Montserrat';
  font-weight: bold;
  color: $dark100;
  font-size: 12px;
  text-transform: uppercase;
}
.input__name span:last-child {
  font-family: 'Montserrat';
  color: $dark50;
  font-size: 12px;
  text-transform: uppercase;
}
