mixin text-field(placeholder='', name=false, addclass='', subscription=false, width = '320px')
  - let sub = ''
  case subscription
    when true: - sub = 'text-field__input_subscription'
    when false: - sub = ''
  - let hide = ''
  case name
    when false: - hide = 'display: none;'
  
  div(class=`text-field ${addclass}`)
    div(class='text-field__name' style=` ${hide}`)
      span=name
    input(
      class=`text-field__input ${sub}`
      placeholder=placeholder
      style=`width: ${width};`
      )
