include ../../../desktop/mixins.pug

doctype html
html
  head
  body
    div(class='content')
      +find-room
      +sign-up  
      +room-buy('888', '9 990Р')
      +log-in 
      +calendar_inline
      +room('888', 'ЛЮКС', '9 990Р', '145')
      +room('840', '', '9 900Р', '65')
