.toggle {
  &__toggle {
    display: none;
    &:checked + label::before {
      border: 1px solid $purple;
      background: no-repeat url(../../desktop/ui-kit/form-elements/blocks/toggle/toggle-inactive.svg) 22px center;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    font: $fontbody;
    color: $dark75;
    &::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 20px;
      border: 1px solid $dark25;
      box-sizing: border-box;
      vertical-align: middle;
      border-radius: 10px;
      margin-right: 10px;
      background: #FFF no-repeat url(../../desktop/ui-kit/form-elements/blocks/toggle/toggle-active.svg) 4px center;
    }
  }
}
