mixin review(name, date, text, n)
  div(class='review')
    div(class='review__human')
      div(class='review__img' style=`background-image: url(../../../desktop/ui-kit/form-elements/blocks/review/review${n}.png)`)
      div(class='review__like like')
        input(class='like__like' type='checkbox' id='like')
        label(class='like__label' for='like') 
    div(class='review__text')
      div(class='review__name')= name 
      div(class='review__lastseen')= date 
      div(class='review__paragraph')= text
