.review {
  display: flex;
  flex-direction: row;
  width: 711px;
  &__human {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  &__img {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    background-position: -22px -12px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 32px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  }
  &__like {
    align-self: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font: $fontbody;
  }
  &__name {
    margin-top: 5px;
    font: $fonth3;
    font-size: 14px;
    color: $dark75;
    margin-bottom: 5px;
  }
  &__lastseen {
    margin-bottom: 10px;
  }
}
