.like {
  &__name {
    font: $fonth3;
  }
  &__like {
    display: none;
    &:checked + label::before {
      border: 1px solid $purple;
      background: #FFF no-repeat url(../../desktop/ui-kit/form-elements/blocks/like/like-active.svg) center center;
    }
  }
  &__label {
    font: $fontbody;
    color: $dark25;
    font-size: 10px;
    &::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 20px;
      border: 1px solid $dark25;
      box-sizing: border-box;
      border-radius: 10px;
      vertical-align: middle;
      background: #FFF no-repeat url(../../desktop/ui-kit/form-elements/blocks/like/like-inactive.svg) center center;
    }
  }
}
