.exp-checkbox {
  &__arrow {
    background: no-repeat url(../../desktop/ui-kit/form-elements/blocks/exp-checkbox/exp-checkbox-inactive.svg) center center;
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    &:hover {
      cursor: pointer;
    }
  }
}
