mixin exp-checkbox(name)
  div(class='exp-checkbox')
    span(class='blockname')= name
    div(class='exp-checkbox__arrow' onclick='showlist()')
    div(class='checkbox__list checkbox__list_exp')
      div
        input(class='checkbox__checkbox' type='checkbox' id='breakfast')
        label(class='checkbox__label' for='breakfast') Завтрак
      div
        input(class='checkbox__checkbox' type='checkbox' id='desk')
        label(class='checkbox__label' for='desk') Письменный стол
      div
        input(class='checkbox__checkbox' type='checkbox' id='feeding_chair')
        label(class='checkbox__label' for='feeding_chair') Стул для кормления
      div
        input(class='checkbox__checkbox' type='checkbox' id='crib')
        label(class='checkbox__label' for='crib') Кроватка
      div
        input(class='checkbox__checkbox' type='checkbox' id='TV')
        label(class='checkbox__label' for='TV') Телевизор
      div
        input(class='checkbox__checkbox' type='checkbox' id='shampoo')
        label(class='checkbox__label' for='shampoo') Шампунь
