mixin log-in
  div(class='log-in')
    div(class='log-in__title title') Войти
    +text-field('Email', false, 'log-in__email')
    +text-field('Пароль', false, 'log-in__password')
    +button('ВОЙТИ', 'big')
    div(class='log-in__footer')
      span Нет аккаунта на Toxin?
      +button('СОЗДАТЬ', 'medium')
