.virtues {
  display: flex;
  flex-direction: column;
  width: 291px;
  &__img {
    margin-right: 10px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    width: 280px;
    margin-bottom: 17px;
  }
  &__border {
    width: 280px;
    height: 1px;
    background: $dark10;
  }
  &__text {
    display: flex;
    flex-direction: column;
    color: $dark75;
  }
  &__title {
    font: $fonth3;
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__description {
    font: $fontbody;
  }
}
