mixin virtues(title, description, imgs)
  div(class='virtues')
    div(class='virtues__content')
      img(class='virtues__img' src=require(`../../../desktop/ui-kit/form-elements/blocks/virtues/${imgs}.svg`))
      div(class='virtues__text')
        span(class='virtues__title')= title
        span(class='virtues__description')= description
    div(class='virtues__border')
