mixin find-room(someClass)
  div(class=`find-room ${someClass}`)
    div(class='find-room__title title') Найдём номера под ваши пожелания
    div(class='find-room__date')
      +calendar('ПРИБЫТИЕ')
      +calendar('ВЫЕЗД')
    +dropdown('guest', 'find-room__dropdown')
    +button('ПОДОБРАТЬ НОМЕР')
