.find-room {
  max-width: 380px;
  border: 1px solid $dark10;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  padding: 40px 30px 30px 30px;
  &__title {
    max-width: 320px;
    margin-bottom: 20px;
  }
  &__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__dropdown {
    margin-bottom: 30px;
  }
}
