.button {
    font: $fonth3;
    padding: 0;
    height: 34px;
    border-radius: 22px;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
      }
    // *** Medium White ***
    &_medium {
      background-image: linear-gradient(white, white),
                        linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      color: $purple;
      width: 99px;
      height: 44px;
      max-width: 99px;
      border: 2px solid transparent;
    }
    // ***Purple***
    &_purple {
      color: #FFF;
      padding: 0px 20px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border: none;
    }

    // ***White***
    &_white {
      background-image: linear-gradient(white, white),
                        linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      color: $purple;
      padding: 0px 20px;
      border: 2px solid transparent;
      }

    // ***No border
    &_noborder-purple {
      background: none;
      border: none;
      color: $purple;
    }
    &_noborder-dark {
      background: none;
      border: none;
      color: $dark50;
    }

    // ***Big button
    &_big {
      color: #FFF;
      width: 320px;
      height: 44px;
      background: no-repeat 285px 10px url(../../desktop/ui-kit/form-elements/blocks/button/button.svg), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border: none;
    }
  }
