mixin button(text='', what='big')
  - let state
  case what
    when 'purple': - state = 'button_purple'
    when 'white': - state = 'button_white'
    when 'big': - state = 'button_big'
    when 'medium': - state = 'button_medium'
    when 'nbdark': - state = 'button_noborder-dark'
    when 'nbpurple': - state = 'button_noborder-purple'

  button(class=`button ${state}`)=text
