doctype html
html
  head
  body
    div(class='content')
      ul
        li UI Kit
        li
          a(href='colorstypes.html') Colors and Type
        li
          a Form elements
        li
          a(href='cards.html') Cards
        li
          a(href='headers-and-footers.html') Headers and Footers
      ul
        li Website pages
        li
          a(href='landing.html') Landing
        li
          a(href='search-room.html') Search room
        li
          a(href='room-details.html') Room details
        li
          a(href='registration.html') Registration
        li
          a(href='sign-in.html') Sign in
        
