.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__line {
    width: 100%;
    height: 0px;
    border: 1px solid $dark25;
  }
  &__main {
    display: flex;
    background: #fff;
    padding: 100px 140px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    color: $dark75;
    line-height: 24px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    color: $dark50;
    &:first-child {
      color: $dark100;
      font: $fonth3;
      margin-bottom: 21px;
    }
    &:not(:first-child):not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__subscription {
    max-width: 260px;
    &>.footer__list {
      &>.footer__item:last-child {
        color: $dark75;
        margin-bottom: 20px;
      }
    }
  }
  &__bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    padding: 26px 140px;
    align-items: center;
  }
}
.icons {
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.copyright {
  color: $dark75;
}
.footercreative {
  display: flex;
  flex-direction: column;
  padding: 120px 104px;
  max-width: 768px;
  box-sizing: border-box;
  background: #fff;
  align-items: center;
  margin-top: 40px;
  &> div {
    &:first-child {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-top: 25px;
    }
  }
}
