mixin footer
  div(class='footer')
    div(class='footer__main')
      div(class='footer__info')
        +logo('footer__logo')
        div(class='footer__about') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul(class='footer__list')
        li(class='footer__item')
          a(class='footer__link') НАВИГАЦИЯ
        li(class='footer__item')
          a(class='footer__link') О нас
        li(class='footer__item')
          a(class='footer__link') Новости 
        li(class='footer__item')
          a(class='footer__link') Служба поддрежки
        li(class='footer__item')
          a(class='footer__link') Услуги
      ul(class='footer__list')
        li(class='footer__item')
          a(class='footer__link') О НАС
        li(class='footer__item')
          a(class='footer__link') О сервисе
        li(class='footer__item')
          a(class='footer__link') Наша команда
        li(class='footer__item')
          a(class='footer__link') Вакансии
        li(class='footer__item')
          a(class='footer__link') Инвесторы
      ul(class='footer__list')
        li(class='footer__item')
          a(class='footer__link') СЛУЖБА ПОДДЕРЖКИ
        li(class='footer__item')
          a(class='footer__link') Соглашения
        li(class='footer__item')
          a(class='footer__link') Сообщества
        li(class='footer__item')
          a(class='footer__link') Связь с нами
      div(class='footer__subscription')
        ul(class='footer__list')
          li(class='footer__item') ПОДПИСКА
          li(class='footer__item') Получайте специальные предложения и новости сервиса
        +text-field('Email', '', '', true, '260px')
    div(class='footer__line')
    div(class='footer__bar')
      div(class='footer__copyright copyright') Copyright © 2018 Toxin отель. Все права зачищены.
      div(class='footer__icons icons')
        img(class='icons__item' src=require('../../icons/twitter.svg'))
        img(class='icons__item' src=require('../../icons/facebook.svg'))
        img(class='icons__item' src=require('../../icons/instagram.svg'))
mixin footercreative
          div(class='footercreative')
            +logo('footercreative__logo')
            div(class='footercreative__copyright copyright') Copyright © 2018 Toxin отель. Все права зачищены.
            div(class='footercreative__icons icons')
              img(class='icons__item' src=require('../../icons/twitter.svg'))
              img(class='icons__item' src=require('../../icons/facebook.svg'))
              img(class='icons__item' src=require('../../icons/instagram.svg'))
