include ../../../desktop/mixins.pug

doctype html
html
  head
  body
    +nav('standart')
    div(class='content')
      div(class='left-side')
        div(class='virtues-list')
          div(class='virtues-list__title title') Сведения о номере 
          +virtues('Комфорт', 'Шумопоглащающие стены', 'smile')
          +virtues('Удобство', 'Окно в каждой из спален', 'house')
          +virtues('Уют', 'Номер оснащен камином', 'fire')
        +diagram
        div(class='review-list')
          div(class='review-list__title title') Отзывы посетителей номера
          +review('Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', '1')
          +review('Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', '2')
        +bullet('Правила')
        div(class='cancel')
          div(class='cancel__title title') Отмена
          div(class='cancel__text') Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      div(class='right-side')
        +room-buy('888', '9 990Р')
    +footer
