include ../../../desktop/mixins.pug

doctype html
html
  head
  body
    div(class='content')
      +nav('standart', 'search-room__nav')
      div(class='sidebar')
        +text-field('', 'ДАТА ПРЕБЫВАНИЯ В ОТЕЛЕ', '', '', '266px')
        +dropdown('guest', '', '266px')
        +range-slider('search-room__slider')
        div(class='sidebar__text') Стоимость за сутки пребывания в номере
        +checkbox
        +checkbox_rich('ДОСТУПНОСТЬ')
        +dropdown('add', '', '266px')
        +exp-checkbox('ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА')
      div(class='rooms')
        div(class='rooms__title') Номера, которые мы для вас подобрали
        div(class='rooms__list')
          +room('888', 'ЛЮКС', '9 990Р', '145', 'rooms__item')
          +room('840', '', '9 900Р', '65', 'rooms__item')
          +room('980', 'ЛЮКС', '8 500Р', '35', 'rooms__item')
          +room('856', '', '7 300Р', '19', 'rooms__item')
          +room('740', 'ЛЮКС', '6 000Р', '44', 'rooms__item')
          +room('982', 'ЛЮКС', '5 800Р', '56', 'rooms__item')
          +room('678', '', '5 500Р', '45', 'rooms__item')
          +room('450', '', '5 300Р', '39', 'rooms__item')
          +room('350', '', '5 000Р', '77', 'rooms__item')
          +room('666', '', '5 000Р', '25', 'rooms__item')
          +room('444', '', '5 000Р', '15', 'rooms__item')
          +room('352', '', '5 000Р', '55', 'rooms__item')
        +pagination('rooms__pagination')
      +footer
