.radio {
  &__radio {
    display: none;
    &:checked + label::before {
      border: 1px solid $purple;
      background: no-repeat center url(../../desktop/ui-kit/form-elements/blocks/radio/radio.svg)
    }
  }
  &__label {
    font: $fontbody;
    color: $dark50;
    &:last-child {
      margin-left: 20px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $dark25;
      box-sizing: border-box;
      border-radius: 10px;
      vertical-align: middle;
      margin-right: 10px;
      background: #fff;
    }
  }
}
