mixin radio
  div(class='radio')
    div(class='radio__list')
      input(class='radio__radio' type='radio' id='man' name='gender')
      label(class='radio__label' for='man') Мужчина
      input(class='radio__radio' type='radio' id='woman' name='gender')
      label(class='radio__label' for='woman') Женщина
