.sign-up {
  max-width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  &__name {
    margin-bottom: 10px;
  }
  &__surname {
    margin-bottom: 10px;
  }
  &__data {
    margin-bottom: 20px;
  }
  &__email {
    margin-bottom: 10px;
  }
  &__password {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &> .toggle {
    margin-top: 10px;
    margin-bottom: 24px;
  }
  &> .radio {
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    width: 320px;
  }
}
