mixin sign-up
  div(class='sign-up')
    div(class='sign-up__title title') Регистрация аккаунта
    +text-field('Имя', false, 'sign-up__name')
    +text-field('Фамилия', false, 'sign-up__surname')
    +radio
    +text-field('ДД.ММ.ГГГГ', 'ДАТА РОЖДЕНИЯ', 'sign-up__data')
    +text-field('Email', 'ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС', 'sign-up__email')
    +text-field('Пароль', false, 'sign-up__password')
    +toggle
    +button('ПЕРЕЙТИ К ОПЛАТЕ', 'big')
    div(class='sign-up__footer')
      span Уже есть аккаунт на Toxin
      +button('ВОЙТИ', 'medium')
