mixin calendar(name, range = 'false')
  div
    div(class='calendar__name blockname')=name
    input(class='calendar datepicker-here' placeholder='ДД.ММ.ГГГГ' readonly)
mixin calendar_inline
  div(class='calendar_inline datepicker-here')
