@import '../../node_modules/air-datepicker/dist/css/datepicker.min.css';
.calendar {
  width: 150px;
  height: 44px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid $dark25;
  border-radius: 4px;
  padding-left: 15px;
  font: $fontbody;
  color: $dark75;
  & .datepicker {
    width: 320px;
    box-sizing: border-box;
    &--content {
      padding: 20px;
      box-sizing: border-box;
    }
    &--nav {
      border-bottom: none;
      padding: 20px;
      padding-bottom: 0;
      &-title, i {
        font: $fonth2;
        color: $dark100;
      }
      &-action svg {
        width: 17px;
        height: 18px;
      }
      &-action path {
        stroke: none;
        stroke-width: 0;
        fill: $purple;
      }
    }
    &--cell {
      font: $fontbody;
      font-size: 12px;
      height: 40px;
      border-radius: 22px;
    }
    &--day-name {
      height: 40px;
      color: $purple;
      font: $fonth3;
      text-transform: none;
    }
    &--cell-day {
      color: $dark50;
    }
    &--days-names {
      margin: 0;
    }
    &--cells-days {
      & .-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #fff;
      }
      & .-selected- {
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
      & .-range-from- {
        border-radius: 22px 0 0 22px;
      }
      & .-range-to- {
        border-radius: 0 22px 22px 0;
      }
      & .-in-range- {
        background: #e5e8fd;
        border-radius: 0;
      }
      & .-other-month- {
        color: $dark25;
      }
    }
  }
}
.datepickers-container {
  & .datepicker {
    width: 320px;
    box-sizing: border-box;
    &--content {
      padding: 20px;
      box-sizing: border-box;
    }
    &--nav {
      border-bottom: none;
      padding: 20px;
      padding-bottom: 0;
      &-title, i {
        font: $fonth2;
        color: $dark100;
      }
      &-action svg {
        width: 17px;
        height: 18px;
      }
      &-action path {
        stroke: none;
        stroke-width: 0;
        fill: $purple;
      }
    }
    &--cell {
      font: $fontbody;
      font-size: 12px;
      height: 40px;
      border-radius: 22px;
    }
    &--day-name {
      height: 40px;
      color: $purple;
      font: $fonth3;
      text-transform: none;
    }
    &--cell-day {
      color: $dark50;
    }
    &--days-names {
      margin: 0;
    }
    &--cells-days {
      & .-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #fff;
      }
      & .-selected- {
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
      & .-range-from- {
        border-radius: 22px 0 0 22px;
      }
      & .-range-to- {
        border-radius: 0 22px 22px 0;
      }
      & .-in-range- {
        background: #e5e8fd;
        border-radius: 0;
      }
      & .-other-month- {
        color: $dark25;
      }
    }
  }
}

.calendar_inline {
  & .datepicker {
    width: 320px;
    box-sizing: border-box;
    &--content {
      padding: 20px;
      box-sizing: border-box;
    }
    &--nav {
      border-bottom: none;
      padding: 20px;
      padding-bottom: 0;
      &-title, i {
        font: $fonth2;
        color: $dark100;
      }
      &-action svg {
        width: 17px;
        height: 18px;
      }
      &-action path {
        stroke: none;
        stroke-width: 0;
        fill: $purple;
      }
    }
    &--cell {
      font: $fontbody;
      font-size: 12px;
      height: 40px;
      border-radius: 22px;
    }
    &--day-name {
      height: 40px;
      color: $purple;
      font: $fonth3;
      text-transform: none;
    }
    &--cell-day {
      color: $dark50;
    }
    &--days-names {
      margin: 0;
    }
    &--cells-days {
      & .-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #fff;
      }
      & .-selected- {
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
      & .-range-from- {
        border-radius: 22px 0 0 22px;
      }
      & .-range-to- {
        border-radius: 0 22px 22px 0;
      }
      & .-in-range- {
        background: #e5e8fd;
        border-radius: 0;
      }
      & .-other-month- {
        color: $dark25;
      }
    }
  }
}
