.logo {
  &_standart {
    width: 106px;
    height: 40px;
    background: no-repeat url(../logo/logo.svg);
  }
  &_gray {
    width: 48px;
    height: 48px;
    background: no-repeat url(../logo/logo-gray.svg);
  }
}
