.room-buy {
  padding: 30px;
  padding-top: 40px;
  max-width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__nomer-number {
    color: $dark100;
    font: $fonth2;
  }
  &__luks {
    color: $purple;
    font: $fonth3;
  }
  &__money {
    &> span:first-child {
      color: $dark50;
      font-weight: bold;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__drop {
    margin-bottom: 20px;
  }
  &__price {
    color: $dark75;
    margin-bottom: 30px;
    &> div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &> div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: $fonth2;
    margin-bottom: 20px;
  }
}
