mixin room-buy(nomer, price = '')
  div(class='room-buy')
    div(class='room-buy__info')
      div(class='room-buy__nomer')
        span(class='room-buy__nomer-number')= '№' + nomer + ' ' 
        span(class='room-buy__luks') ЛЮКС
      div(class='room-buy__money')
        span= price
        span  в сутки
    div(class='room-buy__date')
      +calendar('ПРИБЫТИЕ')
      +calendar('ВЫЕЗД')
    +dropdown('guest', 'room-buy__drop')
    div(class='room-buy__price')
      div
        span= price + ' x ' + '4 суток'
        span 39 960Р
      div
        span Сбор за услуги: скидка 2179Р
        span 0Р
      div
        span Сбор за дополнительные услуги
        span 300Р
    div(class='room-buy__sum')
      span Итого
      span 38 081Р
    +button('ЗАБРОНИРОВАТЬ')
