.nav {
  width: 1440px;
  height: 70px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 140px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: $fontbody;
    color: $dark50;
  }
  &__logo {
    width: 106px;
    height: 40px;
    background: no-repeat url(../logo/logo.svg)
  }
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__link {
    color: $dark50;
    text-decoration: none;
    &_active {
      font-weight: bold;
      color: $dark75;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    &>.button:first-child {
      margin-right: 20px;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__line {
    height: 30px;
    width: 1px;
    background: $dark10;
    margin-right: 20px;
  }
}
