mixin nav(what, addClass)
  - let nonebuttons = ''
  - let noneinfo = ''
  case what 
    when 'standart': - noneinfo = 'display: none;'
    when 'logged':  - nonebuttons = 'display: none;'  
         
  div(class=`nav ${addClass}`)
    div(class='nav__logo')
    div(class='nav__nav')
      ul(class='nav__menu')
        li(class='nav__item')
          a(class='nav__link' href='#' onclick='active(0)') О нас
        li(class='nav__item')
          a(class='nav__link' href='#' onclick='active(1)') Услуги
          a(class='material-icons') expand_more
        li(class='nav__item')
          a(class='nav__link' href='#' onclick='active(2)') Вакансии
        li(class='nav__item')
          a(class='nav__link' href='#' onclick='active(3)') Новости
        li(class='nav__item')
          a(class='nav__link' href='#' onclick='active(4)') Соглашения
          a(class='material-icons') expand_more
      div(class='nav__buttons' style=` ${nonebuttons}`)
        +button('ВОЙТИ', 'white')
        +button('ЗАРЕГИСТРИРОВАТЬСЯ', 'purple')
      div(class='nav__info' style=` ${noneinfo}`)
        div(class='nav__line')
        div(class='nav__user') Юлий Цезарь
