@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css';
.irs {
  &-with-grid {
    & .irs-grid {
      display: none;
    }
  }
  width: 266px;
  &--flat {
    & .irs-bar {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
    & .irs-line {
      height: 6px;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid $dark25;
      background: #ffffff;
    }
    & .irs-handle {
      cursor: pointer;
      & i:first-child {
        display: none;
      }
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      box-sizing: content-box;
      top: 20px;
    }
    & .irs-bar {
      height: 6px;
    }
    & .irs-from, .irs-to {
      background: none;
      font: $fontbody;
      color: $dark50;
    }
    & .irs-from::before, .irs-to::before, .irs-single, .irs-min, .irs-max {
      display: none;
    }
    & .irs-to {
      top: -15px;
      left: 215px;
    }
    & .irs-from {
      top: -15px;
      left: 160px;
    }
  }
}
.range-slider {
  position: relative;
  &__name {
    position: absolute;
    top: -10px;
  }
}
