mixin diagram
  div(class='diagram')
    div(class='diagram__title title') Впечатления от номера
    div(class='diagram__info')
      div(class='diagram__votes')
        span 260
        span ГОЛОСОВ
      <canvas class='diagram__canvas' id="cnvs" width="120px" height="120px"></canvas>
      ul(class='diagram__list')
        li(class='diagram__item') Восхитительно
        li(class='diagram__item') Хорошо
        li(class='diagram__item') Удовлетворительно
        li(class='diagram__item') Разочарован
