.diagram {
  display: flex;
  flex-direction: column;
  max-width: 311px;
  &__title {
    margin-bottom: 20px;
  }
  &__info {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &__votes {
    position: absolute;
    top: 35px;
    left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: $purple;
    &> span:first-child {
      font: $fonth2;
      font-size: 24px;
    }
    &> span:last-child {
      font: $fonth3;
    }
  }
  &__canvas {
    margin-right: 30px;
    align-self: flex-start;
  }
  &__list {
    font: $fontbody;
    color: $dark75;
    padding-top: 20px;
  }
  &__item::before {
    content: '';
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
  }
  &__item:nth-child(1)::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  &__item:nth-child(2)::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  &__item:nth-child(3)::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  &__item:nth-child(4)::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}
