mixin checkbox_rich(name)
  div(class='checkbox checkbox_rich')
    div(class='checkbox__name blockname')= name
    div(class='checkbox__list')
      div(class='checkbox__list_rich')
        input(class='checkbox__checkbox' type='checkbox' id='wide_corridor')
        label(class='checkbox__label checkbox__label_rich' for='wide_corridor') Широкий коридор
        div(class='checkbox__label__description') Ширина коридоров в номере не менее 91 см.
      div(class='checkbox__list_rich')
        input(class='checkbox__checkbox' type='checkbox' id='support_for_disabled')
        label(class='checkbox__label checkbox__label_rich' for='support_for_disabled') Помощник для инвалидов
        div(class='checkbox__label__description') На 1 этаже вас встретит специалист  и проводит до номера.
      
