include ./blocks/calendar/calendar.pug
include ./blocks/find-room/find-room.pug
include ./blocks/log-in/log-in.pug
include ./blocks/room/room.pug
include ./blocks/room-buy/room-buy.pug
include ./blocks/sign-up/sign-up.pug
