mixin bullet(title)
  div(class='bullet')
    div(class='bullet__title title')= title
    ul(class='bullet__list')
      li(class='bullet__item') Нельзя с питомцами
      li(class='bullet__item') Без вечеринок и мероприятий
      li(class='bullet__item') Время прибытия — после 13:00, а выезд до 12:00
