.bullet {
  width: 292px;
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    margin: 0;
    padding: 0;
    font: $fontbody;
    color: $dark75;
    list-style: none;
  }
  &__item {
    margin-bottom: 10px;
    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 10px;
      background: $dark25;
    }
  }
}
