@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$fonth1: normal bold 24px 'Quicksand', open-sans;
$fonth2: normal bold 19px 'Quicksand', open-sans;
$fonth3: normal bold 12px 'Montserrat', sans-serif;
$fontbody: normal normal 14px/24px 'Montserrat', sans-serif;

.blockname {
  font: $fonth3;
  margin-bottom: 5px;
}
