@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/cards/cards';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
body {
  max-height: 1350px;
}
.content {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1200px;
  background-color: #fff;
  padding: 140px;
  padding-top: 150px;
  &> div {
    margin-bottom: 40px;
  }
}
