@import 'main';
.content {
  justify-content: space-between;
  padding: 145px 150px;
  padding-right: 190px;
  background-color: #fff;
}
.colors li::after {
  content: '';
  font: $fonth2;
  display: flex;
  position: absolute;
  width: 160px;
  top: 8px;
  left: 110px;
}
.colors li::before {
  content: '';
  font: $fontbody;
  font-size: 19px;
  display: flex;
  position: absolute;
  width: 160px;
  top: 38px;
  left: 110px;
}
.colors li {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.colors li:nth-child(1) {
  background-color: $dark100;
}
.colors li:nth-child(2) {
  background-color: $dark75;
}
.colors li:nth-child(3) {
  background-color: $dark50;
}
.colors li:nth-child(4) {
  background-color: $dark25;
}
.colors li:nth-child(5) {
  background-color: $dark05;
}
.colors li:nth-child(6) {
  background-color: $purple;
}
.colors li:nth-child(7) {
  background-color: $green;
}
.colors li:nth-child(1)::after {
  content: 'Dark Shade 100%';
}
.colors li:nth-child(2)::after {
  content: 'Dark Shade 75%';
}
.colors li:nth-child(3)::after {
  content: 'Dark Shade 50%';
}
.colors li:nth-child(4)::after {
  content: 'Dark Shade 25%';
}
.colors li:nth-child(5)::after {
  content: 'Dark Shade 5%';
}
.colors li:nth-child(6)::after {
  content: 'Purple';
}
.colors li:nth-child(7)::after {
  content: 'Green';
}
.colors li:nth-child(1)::before {
  content: '#1F2041';
}
.colors li:nth-child(2)::before {
  content: '#1F2041';
}
.colors li:nth-child(3)::before {
  content: '#1F2041';
}
.colors li:nth-child(4)::before {
  content: '#1F2041';
}
.colors li:nth-child(5)::before {
  content: '#1F2041';
}
.colors li:nth-child(6)::before {
  content: 'BC9CFF';
}
.colors li:nth-child(7)::before {
  content: '6FCF97';
}
.types li {
  margin-bottom: 50px;
  position: relative;
}
.types li::before {
  content: '';
  width: 40px;
  justify-content: flex-end;
  font-weight: normal;
  color: $dark25;
  display: flex;
  position: absolute;
  left: -70px;
}
.types li:nth-child(1) {
  font: $fonth1;
  max-width: 340px;
}
.types li:nth-child(2) {
  font: $fonth2;
  max-width: 282px;
}
.types li:nth-child(3) {
  font: $fonth3;
  max-width: 186px;
}
.types li:nth-child(4) {
  font: $fontbody;
  max-width: 301px;
}
.types li:nth-child(1)::before {
  content: 'H1';
}
.types li:nth-child(2)::before {
  content: 'H2';
}
.types li:nth-child(3)::before {
  content: 'H3';
}
.types li:nth-child(4)::before {
  content: 'Body';
}
