@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
.content {
  padding-top: 140px;
  padding-bottom: 140px;
  & > .nav {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
