@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/cards/cards';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
.content {
  background: no-repeat url(../img/back.png);
  justify-content: flex-start;
}
.find-room-main {
  margin-left: 140px;
  margin-top: 70px;
  margin-bottom: 386px;
}
