@import './colors';
@import './fonts';
@import '../logo/logo';
body {
  padding: 0;
  margin: 0 auto;
  font: $fontbody;
  width: 1440px;
}
.content {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: #F4F4F6 no-repeat 30px 30px url(../logo/logo-gray.svg);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
