@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/cards/cards';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
.content {
  background: url(../img/back-sign-in.png) no-repeat;
  &> .sign-up {
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
