@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/cards/cards';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
.content {
  padding: 70px 140px;
  padding-top: 555px;
  background: url(../img/back-room1.png) no-repeat, url(../img/back-room2.png) no-repeat right top, url(../img/back-room3.png) no-repeat right 243px;
  justify-content: space-between;
}
.cancel {
  max-width: 341px;
  &__title {
    margin-bottom: 20px;
  }
}
.review-list > div:not(:last-child) {
  margin-bottom: 23px;
}
.left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 712px;
  &> div:nth-child(1) {
    margin-bottom: 30px;
    margin-right: 70px;
  }
  &> div:nth-child(2) {
    margin-bottom: 30px;
  }
  &> div:nth-child(3) {
    margin-bottom: 30px;
  }
  &> div:nth-child(4) {
    margin-right: 75px;
  }
}
.virtues-list {
  &> div:not(:last-child) {
    margin-bottom: 23px;
  }
  &__title {
    margin-bottom: 20px;
  }
}
