@import 'main';
@import '../../desktop/ui-kit/form-elements/form-elements';
@import '../../desktop/ui-kit/cards/cards';
@import '../../desktop/ui-kit/headers-and-footers/headers-and-footers';
.content {
  background: #fff;
}
.search-room {
  &__nav {
    margin-bottom: 30px;
  }
}
.sidebar {
  max-width: 266px;
  margin-right: 50px;
  &__text {
    font-size: 12px;
    color: $dark50;
    margin-top: -40px;
  }
  &> div:not(:last-child) {
    margin-bottom: 30px;
  }
}
.rooms {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  &__title {
    font: $fonth1;
    margin-bottom: 20px;
  }
  &__list {
    width: 834px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__pagination {
    align-self: center;
  }
}
