include ./blocks/button/button.pug
include ./blocks/bullet/bullet.pug
include ./blocks/checkbox/checkbox.pug
include ./blocks/dropdown/dropdown.pug
include ./blocks/like/like.pug
include ./blocks/exp-checkbox/exp-checkbox.pug
include ./blocks/pagination/pagination.pug
include ./blocks/radio/radio.pug
include ./blocks/range-slider/range-slider.pug
include ./blocks/rating/rating.pug
include ./blocks/review/review.pug
include ./blocks/rich-checkbox/rich-checkbox.pug
include ./blocks/text-field/text-field.pug
include ./blocks/toggle/toggle.pug
include ./blocks/virtues/virtues.pug
include ./blocks/diagram/diagram.pug
