mixin room(nomer='', lux='', money='', review='', addClass)
  div(class=`room ${addClass}`)
    div(class='room__photos')
      img(class='room__img' src=require(`../../../desktop/ui-kit/cards/blocks/room/room${nomer}.png`))
      ul(class='room__points-list')
        li(class='room__points-item room__points-item_active')
          a(class='room__points-link')
        li(class='room__points-item')
          a(class='room__points-link')
        li(class='room__points-item')
          a(class='room__points-link')
        li(class='room__points-item')
          a(class='room__points-link')
      span(class='material-icons room__arrow-left') expand_more
      span(class='material-icons room__arrow-right') expand_more
    div(class='room__info')
      div(class='room__price')
        div(class='room__nomer')
          span(class='room__nomer-number')= '№' + nomer + ' '
          span(class='room__luks')= lux
        div(class='room__money')
          span= money
          span  в сутки
      div(class='room__line')
      div(class='room__rating')
        +rating('room__stars')
        div(class='room__review')
          span= review + ' '
          span Отзывов
