.room {
  max-width: 270px;
  max-height: 256px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__photos {
    position: relative;
  }
  &__line {
    height: 1px;
    background: $dark10;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__info {
    background: #fff;
    width: 270px;
    max-width: 270px;
    padding: 18px;
    box-sizing: border-box;
  }
  &__img {
    max-width: 270px;
    margin-bottom: -4px;
  }
  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__nomer-number {
    font: $fonth2;
  }
  &__luks {
    font: $fonth3;
    color: $purple;
  }
  &__money {
    color: $dark50;
    &> span:first-child {
      font: $fonth3;
    }
    &> span:last-child {
      font: $fonth3;
      font-weight: normal;
    }
  }
  &__review {
    color: $dark50;
    &> span:first-child {
      font: $fonth3;
    }
    &> span:last-child {
      font: $fonth3;
      font-weight: normal;
    }
  }
  &__points {
    &-list {
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 3.75px;
      }
      &_active {
        background: #fff;
      }
      width: 6px;
      height: 6px;
      border-radius: 3.75px;
      border: 1px solid #fff;
    }
  }
  &__arrow {
    &-left {
      position: absolute;
      top: 53px;
      color: #fff;
      width: 44px;
      height: 44px;
      transform: rotate(90deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-right {
      position: absolute;
      top: 53px;
      right: 0px;
      color: #fff;
      width: 44px;
      height: 44px;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
