mixin dropdown(what, someclass, width)
  - let first, second, third
  - let modif, paddBottom, nonefooter, about, name
  case what
    when 'guest': - first = 'взрослые', second = 'дети', third = 'младенцы', modif = 'dropdown_guest', about = 'Сколько гостей', paddBottom = '', name = 'ГОСТИ'
    when 'add': - first = 'спальни', second = 'кровати', third = 'ванные комнаты', nonefooter = 'display: none;', paddBottom = 'padding-bottom: 8px;', modif = 'dropdown_add', about = 'Удобства', name = 'УДОБСТВА НОМЕРА'
      
      
      
      
      
      
  div(class=`dropdown ${modif} ${someclass}` style=`width: ${width};`)
    div(class='dropdown__name')
      span(class='dropdown__name-left')= name
      span(class='dropdown__name-right') 
    input(class='dropdown__input'
          placeholder=` ${about}`
          value=''
          readonly
          style=`width: ${width};`)
    div(class='dropdown__window' style=`width: ${width}; display: none; ${paddBottom}`)
      div(class='dropdown__people')
        div=first
        div
          button(class='dropdown__btn dropdown__btn-minus' disabled) -
          input(class='dropdown__q' disabled value='0')
          button(class='dropdown__btn dropdown__btn-plus') +
      div(class='dropdown__people')
        div=second
        div
          button(class='dropdown__btn dropdown__btn-minus' disabled) -
          input(class='dropdown__q' disabled value='0')
          button(class='dropdown__btn dropdown__btn-plus') +
      div(class='dropdown__people')
        div=third
        div
          button(class='dropdown__btn dropdown__btn-minus' disabled) -
          input(class='dropdown__q' disabled value='0')
          button(class='dropdown__btn dropdown__btn-plus') +
      div(class='dropdown__footer-btns' style=` ${nonefooter}`)
        button(class='dropdown__clear') очистить
        button(class='dropdown__submit') применить
