.dropdown {
  width: 320px;
  box-sizing: border-box;
  &__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    &-left {
      font: $fonth3;
      color: $dark100;
      text-transform: uppercase;
    }
    &-right {
      font: $fonth3;
      font-weight: normal;
      color: $dark50;
      text-transform: uppercase;
    }
  }


  &__input {
    font: $fontbody;
    color: $dark75;
    height: 44px;
    width: 320px;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 2px 2px 2px 2px;
    padding: 15px 13px;
    background: #FFF url(../../desktop/ui-kit/form-elements/blocks/dropdown/dropdown.svg) no-repeat right 9px;
    cursor: pointer;
    &::placeholder {
      color: $dark75;
    }
    &:focus {
      outline: none;
    }
  }
  &__window {
    position: absolute;
    width: 320px;
    font: $fonth3;
    z-index: 100;
    background: #FFF;
    padding: 7px 7px 13px 15px;
    box-sizing: border-box;
    border: 1px solid $dark50;
    border-top: none;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 10px 20px $dark05;
    & div:first-child {
      display: flex;
      align-items: center;
    }
  }
  &__btn {
    font: $fontbody;
    background: #FFF;
    font-size: 18px;
    color: $dark50;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 22px;
    border: 1px solid $dark25;
    &:disabled {
      border: 1px solid $dark25;
      color: $dark50;
      opacity: 0.38;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__submit {
    font: $fonth3;
    border: none;
    padding: 0;
    background: none;
    color: $purple;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  &__clear {
    font: $fonth3;
    visibility: hidden;
    border: none;
    padding: 0;
    background: none;
    color: $dark50;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  &__q {
    font: inherit;
    background: #FFF;
    color: $dark100;
    width: 32px;
    text-align: center;
    border: none;
  }
  &__people {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  &__footer-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
  }
}
