.checkbox {
  box-sizing: border-box;
  width: 222px;
  &__name {
    margin-bottom: 16px;
  }
  &_rich {
    width: 266px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &> div:not(:last-child) {
      margin-bottom: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &_rich {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
  &__checkbox {
    display: none;
    &:checked + label::before {
      border: 1px solid $purple;
      background: #FFF no-repeat center url(../../desktop/ui-kit/form-elements/blocks/checkbox/checkbox.svg);
    }
  }
  &__label {
    font: $fontbody;
    color: $dark50;
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $dark25;
      margin-right: 10px;
      border-radius: 4px;
      background: #fff;
      vertical-align: middle;
    }
    &_rich {
      color: $dark75;
      font-weight: bold;
    }
    &__description {
      width: 203px;
      font: $fontbody;
      font-size: 12px;
      color: $dark50;
      align-self: center;
    }
  }
}
