mixin checkbox 
  div(class='checkbox')
    div(class='checkbox__name blockname') CHECKBOX BUTTONS
    div(class='checkbox__list')
      div
        input(class='checkbox__checkbox' type='checkbox' id='smoking')
        label(class='checkbox__label' for='smoking') Можно курить
      div
        input(class='checkbox__checkbox' type='checkbox' id='animals')
        label(class='checkbox__label' for='animals') Можно с питомцами
      div
        input(class='checkbox__checkbox' type='checkbox' id='guests')
        label(class='checkbox__label' for='guests') Можно пригласить гостей (до 10 человек)
