mixin rating(addClass='')
  div(class=`rating ${addClass}`)
    input(class='rating__star' type='radio' name='star' id='star5')
    label(class='rating__label' for='star5')
    input(class='rating__star' type='radio' name='star' id='star4')
    label(class='rating__label' for='star4')
    input(class='rating__star' type='radio' name='star' id='star3')
    label(class='rating__label' for='star3')
    input(class='rating__star' type='radio' name='star' id='star2')
    label(class='rating__label' for='star2')
    input(class='rating__star' type='radio' name='star' id='star1')
    label(class='rating__label' for='star1')
