.rating {
  width: 120px;
  display: flex;
  flex-direction: row-reverse;
  &__star {
    display: none;
    margin: 0;
    padding: 0;
    &:checked ~ label {
      background: no-repeat center center  url(../../desktop/ui-kit/form-elements/blocks/rating/rating.svg);
    }
    &:checked ~ label ~ label {
      background: no-repeat center center  url(../../desktop/ui-kit/form-elements/blocks/rating/rating.svg);
    }
    &:not(:checked) ~ label:hover {
      background: no-repeat center center  url(../../desktop/ui-kit/form-elements/blocks/rating/rating.svg);
    }
    &:not(:checked) ~ label:hover ~ label {
      background: no-repeat center center  url(../../desktop/ui-kit/form-elements/blocks/rating/rating.svg);
    }
  }
  &__label {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: no-repeat center center url(../../desktop/ui-kit/form-elements/blocks/rating/rating-border.svg);
    &:hover {
      background: no-repeat center center  url(../../desktop/ui-kit/form-elements/blocks/rating/rating.svg);
      transition: .3s;
    }
  }
}
